<% posts.each do |post| %>
  <div>
    <p><%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>ユーザー名：<%= post.user.name %></p>
    <p>タイトル：<%= post.title %></p>
    <p>本文：<%= post.posted_text %></p>
    <% if post.image.attached? %>
      <p><%= image_tag post.get_image %></p>
    <% end %>
    登録タグ：
    <% if post.tag_counts_on(:tags).any? %>
      <% post.tag_counts_on(:tags).each do |tag| %>
        <%= link_to tag.name, posts_path(tag_name: tag.name) %>
        <%#= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name) %>
      <% end %>
    <% else %>
      <p>登録されているタグはありません</p>
    <% end %>
    <p><%= link_to "⇒コメント", post_path(post.id) %></p>
  </div>
<% end %>
<%= paginate posts %>