<h1>投稿一覧</h1>

<%= search_form_for @q, url: posts_path, method: :get do |f| %>
  <%= f.search_field :title_or_posted_text_cont, placeholder: 'キーワード検索' %>
  <%= f.submit '検索' %>
<% end %>

<% @posts.each do |post| %>
  <div>
    <%= image_tag post.get_image %>
    <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
    <p>ユーザー名：<%= post.user.name %></p>
    <p>タイトル：<%= post.title %></p>
    <p>説明：<%= post.posted_text %></p>
  </div>
<% end %>