<h1>showページ</h1>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザー名：<%= @post.user.name %></p>
  <p>タイトル：<%= @post.title %></p>
  <p>説明：<%= @post.posted_text %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <p>タグ：</p>

  <% if @post.tag_counts_on(:tags).any? %>
  <% @post.tag_counts_on(:tags).each do |tag| %>
    <%= link_to tag.name, posts_path(tag_name: tag.name) %>
    <%#= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name) %>
  <% end %>
  <% else %>
    <p>登録されているタグはありません</p>
  <% end %>

  <div>
    <p>コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |post_comment| %>
      <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>

<!--<div class="tags">-->
<!--  <% if @tags.present? %>-->
<!--    <div class="d-flex flex-wrap">-->
<!--      <% @tags.each do |tag| %>-->
<!--	<span class="badge badge-info mr-2 mb-2">-->
<!--	  <%#= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "text-white" %>-->
<!--	</span>-->
<!--      <% end %>-->
<!--    </div>-->
<!--  <% else %>-->
<!--    <p>登録されているタグはありません</p>-->
<!--  <% end %>-->
<!--</div>-->